@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');
.hero{
    background-image: url(images/Divine_Grace_Women.png) ;
    background-repeat:  no-repeat;
    background-size: cover;
    background-color: #999;
}
body {
    background-color: black;
    height: 160vh;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.intro {
    font-family: 'Xanh Mono', monospace;
}

.slide{
    position: absolute;
    opacity: 0.2;
    left: 50%;
    width: 500px;
    margin-left: -250px; /* Half the width */
}

.slide:nth-child(1)
{
    opacity: 1;
    animation: show-slide-one 8s ease-in-out infinite;
}
.slide:nth-child(2)
{
    opacity: 0;
    animation: show-slide-two 8s ease-in-out infinite;
}
.slide:nth-child(3)
{
    opacity: 0;
    animation: show-slide-three 8s ease-in-out infinite;
}

@keyframes show-slide-one {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}


@keyframes show-slide-two {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0}
}

@keyframes show-slide-three {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@media (max-width: 600px) {
    .body {
        height: 160vh;
        width: 150vw;
    }
}
@media (max-width: 540px) {
    .body {
        height: 170vh;
        width: 150vw;
    }
}
@media (max-width: 600px) {
    .body {
        height: 160vh;
        width: 150vw;
    }
}
@media (max-width: 1024px) {
    .body {
        height: 270vh;
        width: 150vw;
    }
}
@media (max-width: 1280px) {
    .body {
        height: 200vh;
        width: 150vw;
    }
}

