@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.hero{
    background-image: url(images/Divine_Grace_Women.png) ;
    background-repeat:  no-repeat;
    background-size: cover;
    background-color: #999;
}
body {
    background-color: black;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}